node_modules
dist
dist-test
packages/server/data
packages/server/config.secret.json
pnpm-lock.yaml
!cache/awesome.json
cache/
package-lock.json
.trae/documents
**/*/stats.html
.claude/setting.local.json
.claude/settings.local.json
packages/cli/test/
bash.exe.stackdump